In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import pprint
import lxml
import xml.etree.ElementTree as ET

URL = 'http://www.cbr.ru/scripts/XML_dynamic.asp?date_req1=01/10/2022&date_req2=31/12/2022&VAL_NM_RQ=R01235 '

headers = {
    'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/107.0.0.0 Safari/537.36'
}



dict_of_currencies = {
    'R01235':'USD',
    'R01239':'EUR',
    'R01010':'Australian Dollar',
    'R01375':'China Yuan',
    'R01035':'British Pound',
    'R01335':'Kazakhstan Tenge',
    'R01815':'Japanese Yen',
    'R01775':'Swiss Franc'
}

list_of_currencies = [dict_of_currencies.keys()]

response = requests.get(URL, headers=headers)

In [2]:
#url_link = requests.get(URL)
#file = BeautifulSoup(url_link.text, "xml")

In [4]:
#content = file.find

In [57]:
usd_df = pd.read_xml(URL) #in our case we've got a decent table that we can use
usd_df['Date'] = pd.to_datetime(usd_df['Date'], dayfirst=True)
usd_df['Value'].astype('int')

ValueError: invalid literal for int() with base 10: '55,2987'

In [55]:
usd_df

         Date      Id  Nominal    Value
0  2022-10-01  R01235        1  55,2987
1  2022-10-04  R01235        1  57,5664
2  2022-10-05  R01235        1  58,7913
3  2022-10-06  R01235        1  59,4043
4  2022-10-07  R01235        1  60,2534
5  2022-10-08  R01235        1  61,2475
6  2022-10-11  R01235        1  62,3126
7  2022-10-12  R01235        1  63,6840
8  2022-10-13  R01235        1  63,7559
9  2022-10-14  R01235        1  63,4917
10 2022-10-15  R01235        1  63,0558
11 2022-10-18  R01235        1  61,7634
12 2022-10-19  R01235        1  61,7032
13 2022-10-20  R01235        1  61,5905
14 2022-10-21  R01235        1  61,5018
15 2022-10-22  R01235        1  61,1958
16 2022-10-25  R01235        1  61,1629
17 2022-10-26  R01235        1  61,3326
18 2022-10-27  R01235        1  61,4277
19 2022-10-28  R01235        1  61,3589
20 2022-10-29  R01235        1  61,5343
21 2022-11-01  R01235        1  61,6229
22 2022-11-02  R01235        1  61,4275
23 2022-11-03  R01235        1  61,6175
24 2022-11-04  R01235        1  62,0955
25 2022-11-08  R01235        1  61,2367
26 2022-11-09  R01235        1  60,9774
27 2022-11-10  R01235        1  61,0611
28 2022-11-11  R01235        1  61,2434
29 2022-11-12  R01235        1  60,2179
30 2022-11-15  R01235        1  60,3982
31 2022-11-16  R01235        1  60,3116
32 2022-11-17  R01235        1  60,3484
33 2022-11-18  R01235        1  60,3894
34 2022-11-19  R01235        1  60,3741
35 2022-11-22  R01235        1  60,7379
36 2022-11-23  R01235        1  60,6566
37 2022-11-24  R01235        1  60,5043
38 2022-11-25  R01235        1  60,3866
39 2022-11-26  R01235        1  60,4797
40 2022-11-29  R01235        1  60,7520
41 2022-11-30  R01235        1  61,0742
42 2022-12-01  R01235        1  60,8803
43 2022-12-02  R01235        1  61,1479
44 2022-12-03  R01235        1  61,7749
45 2022-12-06  R01235        1  62,1849
46 2022-12-07  R01235        1  62,9103
47 2022-12-08  R01235        1  62,9372
48 2022-12-09  R01235        1  62,5722
49 2022-12-10  R01235        1  62,3813
50 2022-12-13  R01235        1  62,7674
51 2022-12-14  R01235        1  63,2120
52 2022-12-15  R01235        1  63,3590
53 2022-12-16  R01235        1  64,3015
54 2022-12-17  R01235        1  64,6078
55 2022-12-20  R01235        1  66,3474
56 2022-12-21  R01235        1  69,0037
57 2022-12-22  R01235        1  70,5256
58 2022-12-23  R01235        1  72,1306
59 2022-12-24  R01235        1  68,6760

In [56]:
usd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     60 non-null     datetime64[ns]
 1   Id       60 non-null     object
 2   Nominal  60 non-null     int64
 3   Value    60 non-null     object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 2.0+ KB